* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */
.bgSiteMenu{
  background: #fff;
  transition: 0.5s;
}
.logo {
  padding: 0px;
  width: 100%;
  color: #f2f2f2;
  text-shadow: #000 1px 1px 2px;
}
.logo1{
  background-image: url('../images/logoAtractivos2.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  padding: 1px 0 !important;
}
.logo2{
  background-image: url('../images/logoAtractivos.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  padding: 1px 0 !important;
}
.navbar {
  position: sticky;
  top: 0;
  font-size: 13px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar a {
  color: #fff;
  display: inline-block;
  padding: 20px 25px;
  text-align: center;
  transition: 0.3s ease-out all;
}

.navbar a:hover {
  background: #00335D;
  color: #eaab00;
  text-decoration: none;
}
.bgSiteMenu a{
  color: #2F41A2 !important;
}
.bgSiteMenu a:hover{
  color: #ffffff !important;
}
.contenedor{
  max-width: 1100px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contenedor2{
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: block;
  justify-content: space-between;
}
/* * ============================== */
/* * =====    FORMULARIOS    ====== */
/* * ============================== */
.grupoInput{
  width: 90%;
  padding: 10px;
}
.contenedor2 .camposform{
  padding: 0.8em 0;
}
.form-label {
  display: block;
  margin-bottom: .5rem;
}
label {
    display: inline-block;
}
.caja {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
  /*height: 100vh;*/
  width: 100%;
  margin-top: -65px;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
  min-height: 100vh;
  background: #fff;
}

main .contenido p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #525151;
  font-weight: 200;
}
.justificado{
  text-align: justify;
}
main .contenido .titulo, main .post .titulo{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-top: 40px;
  font-size: 39px;
  color: #003f72;
}

main .contenido .fecha {
  font-size: 14px;
  color: #9F9F9F;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  background: #ff0000;
  padding: 20px;
  border-radius: 3px;
  position: sticky;
  top: 20px;
}

aside .titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
  color: #f2f2f2;
}

aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: #ffcd48;
}

/* * ============================== */
/* * ========== POST   ============ */
/* * ============================== */
.espacio{
  margin: 10em 0;
}
.post{
  text-align: center;
}
.postCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card51{
  width: 49%;
  margin: 20px 0;
}
.card51 img{
  width: 100%;
}
.card1{
  border: solid 1px #ccc;
  width: 30%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}
.card1 img{
  width: 100%;
}
.ch1Content{
  flex: 1 1 70%;
}
.card1 h2{
  color: #124E4E;
  padding: 10px 0;
}
.card1 p{
  font-size: 13px;
  padding: 5px 20px;
}
.bgazul{
  background: #ACFFF0;
}
.bggris{
  background-color: #00335D;
}
.txtceleste{
  color: #707EC7;
  padding: 1.5em 0;
}
.txtamarillo{
  color: #eaab00 !important;
  padding: 1.5em 0;
}
.txtgris{ color: #6E778E; padding-bottom: 1em}
.fullwidth{
  width: 100%;
}
.post img{
  padding: 0 0em;
}

/* * ============================== */
/* * =====     INDICADORES   ====== */
/* * ============================== */
.indicadorbox{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4em;
}
.indicador{
  width: 20%;
  border: 1px solid #203C81;
  border-radius: 10px;
}
.numIndicador{
  font-size: 3em;
  font-weight: bold;
  color: #eaab00;
}
.titleIndicador{
  font-size: 1em;
  color: #f2f2f2;
  padding-bottom: 1em;
}
.centrado{
  text-align: center;
}

/* * ============================== */
/* * =====  TABLAS DE DATOS  ====== */
/* * ============================== */
table {
   width: 100%;
   text-align: left;
   border-collapse: collapse;
   border: 1px solid #ccc;
   font:100% Arial, Helvetica, sans-serif;
}
thead th{
  background: #5A9EC5;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
th, td {
   text-align: left;
   vertical-align: top;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
   border: 1px solid #ccc;
}
tr:hover{
  background: #C1E9FF;
  color: #333;
  transition: 0.2s ease-in-out;
}
/* * ============================== */
/* * ========= BOTONES ============ */
/* * ============================== */
.buttonAzul {
  background-color: #00335D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
.piePagina {
  background: #00335D;
  color: #ccc;
}
h6{
  padding: 2em 0;
  text-align: center;
}
/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */


@media screen and (max-width: 900px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .navbar a {
    width: auto;
    flex: 1;
  }

  .contenedor-imagen {
    height: 50vh;
  }

  main .contenedor {
    flex-direction: column;
  }

  .postCard{
    display: block;
  }

  .card1{
    width: 100%;
  }

  .indicadorbox{
    display: block;
    width: 90%;
    padding-bottom: 4em;
  }
  .indicador{
    width: 90%;
    margin-bottom: 1em;
  }
}
